.Titulo{
    color:chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.subt{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;


}