.Titulo{
    color:chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fddde2;
    width: 1335px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 80px;

    
}
.logo{
    margin: 0px;
    padding: 0;
    background: href="Imagens/doce6";
    height: 500px;
    width: 1335px;


}

.body{
    margin: 0;
    padding: 0;



}

.subt ul{
    position: absolute;
    word-spacing: 50px;
    margin: 0;
    list-style: nome;
    display: inline;
    padding-top: 30px;
    

}
.subt li{
    position: relative;
    list-style: nome;
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    cursor: pointer;
    display: inline;
    padding: 50px;

    

    

}
.rodapé{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: saddlebrown;
    text-align: right;
    line-height: 400px;
}


