.Titulo{
    color:chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fddde2;
    margin: 50px;
    text-align: center;
    font-size: 80px;
    
}

.subt{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px
    ;

}
.rodapé{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: saddlebrown;
    text-align: right;
}


